In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_path = r"C:\Users\–ö–∞—Ä–∏–Ω–∞\Downloads\Adidas_US_Sales_Datasets.csv"

df = pd.read_csv(file_path)

print("‚úÖ –§–∞–π–ª —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–æ!")
print("–†–æ–∑–º—ñ—Ä –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É:", df.shape)
print("\n–ü–µ—Ä—à—ñ —Å—Ç—Ä–æ–∫–∏:")
display(df.head(5))

‚úÖ –§–∞–π–ª —É—Å–ø—ñ—à–Ω–æ –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–æ!
–†–æ–∑–º—ñ—Ä –¥–∞—Ç–∞—Ñ—Ä–µ–π–º—É: (9648, 13)

–ü–µ—Ä—à—ñ —Å—Ç—Ä–æ–∫–∏:

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,"$50,00",1¬†200,$600¬†000,$300¬†000,50%,In-store
1,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,"$50,00",1¬†000,$500¬†000,$150¬†000,30%,In-store
2,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,"$40,00",1¬†000,$400¬†000,$140¬†000,35%,In-store
3,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,"$45,00",850,$382¬†500,$133¬†875,35%,In-store
4,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,"$60,00",900,$540¬†000,$162¬†000,30%,In-store

In [3]:
print("\n–ó–∞–≥–∞–ª—å–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –ø–æ –¥–∞–Ω–∏—Ö:")
df.info()

–ó–∞–≥–∞–ª—å–Ω–∞ —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—è –ø–æ –¥–∞–Ω–∏—Ö:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Product           9648 non-null   object
 7   Price per Unit    9648 non-null   object
 8   Units Sold        9648 non-null   object
 9   Total Sales       9648 non-null   object
 10  Operating Profit  9648 non-null   object
 11  Operating Margin  9648 non-null   object
 12  Sales Method      9648 non-null   object
dtypes: int64(1), object(12)
memory usage: 980.0+ KB

In [4]:
print("\nüîé –ê–Ω–∞–ª—ñ–∑ –ø—Ä–æ–ø—É—Å–∫—ñ–≤:")

missing_summary = (
    df.isna()
    .sum()
    .reset_index()
    .rename(columns={'index': 'column', 0: 'missing_count'})
)
missing_summary['missing_%'] = (missing_summary['missing_count'] / len(df) * 100).round(2)

display(missing_summary.sort_values('missing_%', ascending=False))

üîé –ê–Ω–∞–ª—ñ–∑ –ø—Ä–æ–ø—É—Å–∫—ñ–≤:

              column  missing_count  missing_%
0           Retailer              0        0.0
1        Retailer ID              0        0.0
2       Invoice Date              0        0.0
3             Region              0        0.0
4              State              0        0.0
5               City              0        0.0
6            Product              0        0.0
7     Price per Unit              0        0.0
8         Units Sold              0        0.0
9        Total Sales              0        0.0
10  Operating Profit              0        0.0
11  Operating Margin              0        0.0
12      Sales Method              0        0.0

In [6]:
duplicate_count = df.duplicated().sum()

print(f"\n–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–≤–Ω–∏—Ö –¥—É–±–ª—ñ–∫–∞—Ç—ñ–≤ —Å—Ç—Ä–æ–∫: {duplicate_count}")

if duplicate_count > 0:
    print("\n–ü–µ—Ä—à—ñ 5 –¥—É–±–ª—å–æ–≤–∞–Ω–∏—Ö —Å—Ç—Ä–æ–∫:")
    display(df[df.duplicated()].head())
else:
    print("‚úÖ –î—É–±–ª—ñ–∫–∞—Ç–∏ –≤—ñ–¥—Å—É—Ç–Ω—ñ.")

–ö—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–≤–Ω–∏—Ö –¥—É–±–ª—ñ–∫–∞—Ç—ñ–≤ —Å—Ç—Ä–æ–∫: 0
‚úÖ –î—É–±–ª—ñ–∫–∞—Ç–∏ –≤—ñ–¥—Å—É—Ç–Ω—ñ.

In [9]:
print("\n–ö–æ–ª–æ–Ω–∫–∏ —ñ —Ç–∏–ø–∏ –¥–∞–Ω–∏—Ö:")
for col in df.columns:
    print(f"- {col}: {df[col].dtype}, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî {df[col].nunique()}")

print("\n–ê–Ω–∞–ª—ñ–∑ –∑–∞–≤–µ—Ä—à–µ–Ω–æ ‚úÖ")

–ö–æ–ª–æ–Ω–∫–∏ —ñ —Ç–∏–ø–∏ –¥–∞–Ω–∏—Ö:
- Retailer: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 6
- Retailer ID: int64, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 4
- Invoice Date: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 724
- Region: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 5
- State: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 50
- City: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 52
- Product: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 6
- Price per Unit: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 94
- Units Sold: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 361
- Total Sales: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 3138
- Operating Profit: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 4187
- Operating Margin: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 66
- Sales Method: object, —É–Ω—ñ–∫–∞–ª—å–Ω–∏—Ö –∑–Ω–∞—á–µ–Ω—å ‚Äî 3

–ê–Ω–∞–ª—ñ–∑ –∑–∞–≤–µ—Ä—à–µ–Ω–æ ‚úÖ